<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Group_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-group_name" data-rule="required" class="form-control" name="row[group_name]" type="text" value="{$row.group_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sign')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sign" data-rule="required" class="form-control" name="row[sign]" type="text" value="{$row.sign|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" data-rule="required" class="form-control" step="0.01" name="row[price]" type="number" value="{$row.price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-num" data-rule="required" class="form-control" name="row[num]" type="number" value="{$row.num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Allow_team')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-allow_team" data-rule="required" class="form-control" name="row[allow_team]" type="number" value="{$row.allow_team|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Allow_team')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[allow_team]', ['1'=>__('允许'), '0'=>__('禁止')],$row.allow_team)}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Team_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-team_price" data-rule="required" class="form-control" step="0.01" name="row[team_price]" type="number" value="{$row.team_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="number" value="{$row.weigh|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
