<div class="main-container">
    <div class="container">
        <div class="row main-container-row index-row" style="position: relative">
            <div class="col-sm-3">
                <div id="sidebar">
                    <div id="sidebar-content">
                        <ul>
                            <li>
                                <span>|</span>
                                <h5>关于我们</h5>
                            </li>
                            <li class="active">
                                <a href="#">协会简介</a>
                            </li>
                            <li><a href="#">协会章程</a></li>
                            <li><a href="#">组织结构</a></li>
                            <li><a href="#">协会治理</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 usinfo-article">
                <div class="article-title">
                    <h1 class="h2">中国青少年科技辅导员协会</h1>
                </div>
                <div class="article-content">
                    <h3>简介</h3>
                    <p>中国青少年科技辅导员协会（以下简称“中国青辅协”）成立于1981年6月，由周培源、吴仲华、蒋南翔、王寿仁等著名科学家、教育家发起成立。协会是在民政部注册登记的、由全国青少年科技教育工作者和相关单位自愿结成的专业性、全国性、非营利社会组织，是中国科学技术协会的直属学会。秘书处设在中国科协青少年科技中心。
                    </p>
                    <p>协会以促进青少年科技辅导员队伍的成长、促进青少年科技教育事业的繁荣与发展为宗旨，团结和凝聚了一大批致力于青少年科技教育的校内外、专兼职科技辅导员，已基本构建起覆盖全国的科技辅导员会员发展和服务网络。目前协会下设学术和国际交流、培训、科学传播、组织等4个工作委员会以及机器人教育、人工智能普及教育、科学教师教育、工程技术教育和科普研学等5个专业委员会。现任（八届）理事长为中国科学院院士武向平。</p>
                    <h3>青少年科技辅导员专业水平认证</h3>
                    <p>青少年科技辅导员专业水平认证面向校内外从事青少年科技教育活动的专业人员，既包括中小学教师，也包括高校与科研院所、科普场馆、青少年宫（活动中心）、科技教育机构、社会团体、企事业单位中从事青少年科技活动辅导、研究工作的人员。认证分为初级、中级和高级三个级别。高级科技辅导员由中国青辅协负责评定，中级和初级科技辅导员由省级青辅协或经中国青辅协批准的机构负责认证。认证主要从师德修养与专业情感、理论水平与科技素养、业务能力和实践能力三方面对科技辅导员进行综合评价。</p>
                    <h3>青少年科技辅导员培训</h3>
                    <p>目前，协会已命名了35家“全国青少年科技辅导员培训基地”，包括高等院校、科研机构、科技场馆、校外教育机构、中学和知名科技企业等。培训基地在科技辅导员培训、课题研究和课程教材建设等工作中发挥了重要作用。每年协会依托培训基地和省级协会组织示范性、主题性的科技辅导员培训活动。协会通过信息化管理平台“科技辅导员培训中心”，对协会和单位会员组织的线下培训活动进行全流程的信息化管理。</p>
                    <h3>科技辅导员在线学习中心（科技学堂）</h3>
                    <p>科技辅导员在线学习中心（科技学堂）是由中国青辅协、中国科协青少年科技中心共同为校内外的科技教师、科技辅导员开设的在线学习平台。平台上汇聚了由中国青辅协、中国科协青少年科技中心、高校科研院所等机构开发的科技教育在线课程。科技辅导员参加在线培训，结业后可获得中国青辅协颁发的课程结业证书。</p>
                <h3>协会重点活动</h3>
                <p>全国青少年科技创新大赛科技辅导员创新成果竞赛</p>
                    <p>科学教育国际论坛</p>
                <p>全国青少年科学影像节</p>
                <p>全国青少年创意编程与智能设计大赛</p>
                <p>全国科学教育专业师范生教学技能创新展示活动</p>
                <p>中国青少年科技辅导员协会年会</p>
                </div>
            </div>
            <p class="hidden-xs" id="left-line"></p>
        </div>
    </div>
</div>