<style>
    .card {
        background: #fff;
        border-width: 0;
        margin-bottom: 16px;
        box-shadow: 0px 0px 20px -5px rgb(158 158 158 / 20%);
        transition: background-color .3s;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 4px;
    }


    .card .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 20px;
    }

    .panel-header h1 {
        line-height: 1.5;
    }

    .panel-header .h3 {
        font-size: 28px;
        font-weight: 500;
    }

    .panel-body {
        padding: 20px 0px;;
    }

    .panel-body p {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 2;
        word-wrap: break-word;
    }



    .panel-body img {
        max-width: 100%;
        height: auto;
    }

    a img.alignnone {
        margin: 5px 0 20px 0;
    }

    .panel-header .info {
        font-size: 14px;
        font-weight: 400;
        color: #999;
        padding-bottom: 24px;
        display: flex !important;
        border-bottom: 2px solid rgb(11, 161, 228) !important;
    }

    .card-body .info span {
        margin-right: 16px;
        display: block !important;
    }


    .card-body .info a {
        color: #999;
        outline: 0 !important;
        text-decoration: none;
    }

    .panel-header .info .flex-fill {
        flex: 1 1 auto !important;
    }

    .author .media {
        background-image: url('__CDN__/assets/img/login-head.png');
        width: 310px;
        height: 155px;
    }

    .author .avatar {
        vertical-align: middle;
        margin-right: auto;
        margin-left: auto;
        border-radius: 50%;
        border-color: rgb(11, 161, 228);
    }

    .card-body .info .h6 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 16px;
        text-align: center;
    }

    .card-body .info p {
        /*介绍*/
    }

    .card-body .info .web {
        display: flex !important;
        border-bottom: 2px solid rgb(11, 161, 228) !important;
        justify-content: space-between;
        padding-bottom:16px;
    }
</style>
<div class="main-container">
    <div class="container">
        <div class="col-sm-9">
            <div class="panel card">
                <div class="card-body">
                    <div class="panel-header">
                        <h1 class="h3">{$article.title}</h1>
                        <div class="info">
                            <span>
                                分类：<a href="#">{$article.category.name}</a>
                            </span>
                            <span>发布于：{$article.createtime}</span>
                            <!-- <span>作者：{$article.user.nickname}</span> -->
                            <div class="flex-fill"></div>
                            <span>阅读量：{$article.views}</span>
                            <span>评论量</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        {$article.content}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 hidden-xs">
            <div class="panel card" style="width:230px;">
                <div class="card-body">
                    <div class="author">
                        <img src="{$article.user.avatar}" class="avatar img-responsive center-block" height="80"
                            width="80">
                    </div>
                    <div class="info">
                        <div class="h6">
                            {$article.user.nickname}
                        </div>
                        <p>这里留着写介绍</p>
                        <div class="web">
                            <span><a href="#">所有文章</a></span>
                            <span><a href="#">团队主页</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>