<table class="table table-striped">
    <thead>
        <tr>
            <th>{:__('Title')}</th>
            <th>{:__('Content')}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>活动名称：</td>
            <td>{$row.name|htmlentities}</td>
        </tr>
        <tr>
            <td>发起人：</td>
            <td>{$row.user_id|htmlentities}</td>
        </tr>
        <tr>
            <td>考勤时间：</td>
            <td>{$row.daterange|htmlentities}</td>
        </tr>
        <tr>
            <td>签到地点：</td>
            <td>{$row.address|htmlentities}</td>
        </tr>
        <tr>
            <td>签到组别：</td>
            <td>{$row.league_ids|htmlentities}</td>
        </tr>
        <tr>
            <td>签到说明：</td>
            <td>{$row.remark|htmlentities}</td>
        </tr>
    </tbody>
</table>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>