<div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="row">
            <div class="col-md-2 col-xs-12">
                <label for="basic-url">签到网址</label>
                <div class="input-group">
                    <input type="text" class="form-control" value="{$url|htmlentities}" placeholder="签到网址">
                    <span class="input-group-btn">
                        <button id="copy" class="btn btn-default btn-copy" type="button">Copy</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:25px;">
            <div class="col-md-10 col-md-offset-2">
                <label class="">签到二维码</label>
                <input type="hidden" id="qrcode_src" value="{$url|htmlentities}">
                <div id="qrcode"></div>
            </div>
        </div>
    </div>
</div>
</div>