<!DOCTYPE html>
<html>

<head>
    {include file="common/index/meta" /}
</head>

<body>
    <!-- 整站通用的头部及导航条 -->
    <div id="header" style="padding-bottom: 24px;">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="padding:0 0 0 15px;" href="#"><img alt="Logo"
                            style="max-width:130px;" src=""></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a>
                            <p class="line-top hidden-xs"></p>
                        </li>
                        <li><a href="#">赛事活动</a></li>
                        <li><a href="#">培训服务</a></li>
                        <li><a href="#">文件通知</a></li>
                        <li><a href="#">资料下载</a></li>
                        <li><a href="{:url('index/user/index')}">会员专区</a></li>
                        <li><a href="#">关于我们</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <!-- 整站通用的头部及导航条 -->

    <main class="content">
        {__CONTENT__}
    </main>

    <footer class="footer" style="clear:both">
        <!-- 返回顶部滑块 -->
        <div id="clan-slider">
            <ul>
                <li class="hidden-xs">
                    <a id="slider-chat" class="web-chat" href="javascript:;"></a>
                    <div class="clan-slider-tips">
                        在线咨询
                    </div>
                </li>
                <li class="hidden-xs">
                    <a target="_blank" href="#" id="slider-qq"></a>
                    <div class="clan-slider-tips">
                        QQ咨询
                    </div>
                </li>
                <li class="hidden-xs">
                    <a id="slider-phone" href="javascript:void(0);"></a>
                    <div class="clan-slider-tips">
                        188********
                    </div>
                </li>
                <li class="hidden-xs">
                    <a id="slider-wechat" href="javascript:void(0);"></a>
                    <div class="clan-slider-tips-wechat">
                        <img src="http://www.clantrip.com/static/images/wechat.png">
                    </div>
                </li>
                <li><a id="slider-goTop" href="javascript:void(0);"></a></li>
            </ul>
        </div>
        <!-- 返回顶部滑块 -->
        <!-- 整站通用的尾部 -->
        <div id="sidebar-bg" style="display: none;"></div>
        <!-- 立即咨询 -->
        <div class="contact-banner">
            <canvas id="waves" class="waves"></canvas>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 contact-banner-box">
                        <h2 class="h1">更多疑问 全面解答</h2>
                        <h4>专业赛事承办组织在线为您解答所有疑惑</h4>
                        <a href="javascript:;" class="btn btn-outline-inverse btn-lg web-chat">免费咨询</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 立即咨询 -->
        <!-- 通用页脚 -->
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-2 footer-item">
                        <div class="footer-list">
                            <h4>常用工具</h4>
                            <ul>
                                <li><a href="/code" target="_blank">电码查询</a></li>
                                <li><a href="/index.php?m=content&c=index&a=show&catid=12&id=36#track">护照追踪</a></li>
                                <li><a
                                        href="http://www.clantrip.com/index.php?m=content&c=index&a=lists&catid=14">资料下载</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 footer-item">
                        <div class="footer-list">
                            <h4>快捷裢接</h4>
                            <ul>
                                <li><a
                                        href="http://www.clantrip.com/index.php?m=content&c=index&a=lists&catid=10">签证资讯</a>
                                </li>
                                <li><a href="/index.php?m=content&c=index&a=show&catid=7&id=1">签证指南</a></li>
                                <li><a href="/index.php?m=content&c=index&a=show&catid=8&id=37">常见问题</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 footer-item">
                        <div class="footer-list">
                            <h4>关于我们</h4>
                            <ul>
                                <li><a href="/index.php?m=content&c=index&a=show&catid=11&id=17">关于中岚</a></li>
                                <li><a href="/index.php?m=content&c=index&a=show&catid=11&id=19">服务协议</a></li>
                                <li><a href="javascript:AddFavorite('美国签证-中岚','http://www.clantrip.com/');">收藏本站</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 footer-item">
                        <div class="footer-wechat">
                            <img class="img-responsive" src="http://www.clantrip.com/static/images/wechat.png">
                            <p>微信：********</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 footer-item footer-item-last">
                        <div class="footer-contact">
                            <h2><img src="http://www.clantrip.com/static/images/icons/pc-footer-phone.png">188********
                            </h2>
                            <h2><img src="http://www.clantrip.com/static/images/icons/pc-footer-qq.png">********</h2>
                            <h2><img src="http://www.clantrip.com/static/images/icons/pc-footer-mob.png">188********
                            </h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Copyright @ 2013~{:date('Y',time())} 版权所有 <a href="https://beian.miit.gov.cn"
                                target="_blank">{$site.beian|htmlentities}</a></p>
                        <div style="width:300px;margin:0 auto; padding:20px 0; text-align: center;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 通用页脚 -->
        <!-- 手机端底部 -->
        <div id="mob-bottom" class="visible-xs-block">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 mob-bottom-item">
                        <a href="tel:18810888729">
                            <img class="img-responsive center-block"
                                src="http://www.clantrip.com/static/images/icons/mob-footer-phone.png">
                            <span>电话咨询</span>
                        </a>
                    </div>
                    <div class="col-xs-3 mob-bottom-item">
                        <a href="tel:18810888729">
                            <img class="img-responsive center-block"
                                src="http://www.clantrip.com/static/images/icons/mob-footer-mob.png">
                            <span>紧急电话</span>
                        </a>
                    </div>
                    <div class="col-xs-3 mob-bottom-item">
                        <a href="#">
                            <img class="img-responsive center-block web-chat"
                                src="http://www.clantrip.com/static/images/icons/mob-footer-chat.png">
                            <span>在线咨询</span>
                        </a>
                    </div>
                    <div class="col-xs-3 mob-bottom-item">
                        <a href="sms:18810888729">
                            <img class="img-responsive center-block"
                                src="http://www.clantrip.com/static/images/icons/mob-footer-msm.png">
                            <span>短信咨询</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 手机端底部 -->
        <!-- 整站通用的尾部 -->
    </footer>

    {include file="common/index/script" /}

</body>

</html>