<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="page-header">{:__('Grading')}
                        <a href="javascript:;" class="btn btn-primary pull-right" data-type="grading"><i class="fa fa-pencil"></i>
                                {:__('Apply for Grading')}</a>
                    </h2>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="gradingtpl">
    <form id="grading-form" class="form-horizontal form-layer" method="POST" action="{:url('user/addgrading')}">
        <div class="form-body">
            
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-3">认证类型:</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="form-inline" data-toggle="cxselect" data-selects="first,second">
                        <select class="first form-control" name="first" data-url="ajax/category?type=grading&pid=100"></select>
                        <select class="second form-control" name="second" data-url="{:url('ajax/category')}" data-query-name="pid"></select>
                    </div>
                    <span class="msg-box"></span>
                </div>
            </div>
           
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-3">颁发机构:</label>
                <div class="col-xs-12 col-sm-8">
                    <input type="text" class="form-control" id="unit" name="unit" value="" data-rule="required" placeholder="颁发机构">
                    <span class="msg-box"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-3">证书编号:</label>
                <div class="col-xs-12 col-sm-8">
                    <input type="text" class="form-control" id="num" name="num" value="" data-rule="required,remote({:url('api/validate/check_usergrading_unique')}, event=addgrading, num:#num)" placeholder="证书编号">
                    <span class="msg-box"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-3">证明材料:</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group">
                        <input id="c-file" data-rule="" class="form-control" size="50" name="c-file" type="text">
                        <div class="input-group-addon no-border no-padding">
                            <button type="button" id="faupload" class="btn btn-danger faupload" data-input-id="c-file" data-mimetype="jpg,png,zip,pdf" data-multiple="false" data-maxsize="10M"><i class="fa fa-upload"></i> 上传</button>
                        </div>
                        <span class="msg-box n-right" for="c-file"></span>
                    </div>    
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div class="form-group" style="margin-bottom:0;">
                <label class="control-label col-xs-12 col-sm-3"></label>
                <div class="col-xs-12 col-sm-8">
                    <button type="submit" class="btn btn-md btn-primary">{:__('Submit')}</button>
                </div>
            </div>
        </div>
    </form>
</script>